html {
  font-family: nunito, sans-serif;
}

.first-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 20px;
  color: orangered;
}
.subtitle-head {
  font-size: 50px;
}
button {
  width: 10%;
  background-color: orangered;
  color: white;
}
